@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

/*navbar*/
.navbar a:hover {
    background-color: rgb(121, 240, 42); /* couleur bouttons quand souris passe dessus */
    color: black; /* couleur du texte quand souris passe dessus*/ 
  }


/* pour que ça scroll */
html{
  scroll-behavior: smooth;
}



/* images separation au dessus des titres */
  #section_further_down{
  text-align: center;
  height: 100px;  
  }

  #section_further_down2{
    text-align: center;
    height: 100px;  
    }

  #section_further_down3{
  text-align: center;
  height: 100px;  
  }

  #section_further_down4{
    text-align: center;
    height: 100px;  
    }
    


/* police pour tous les titres de la pages etde la navbar */

#mainmenu{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#search{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: black;
}

#description{
  text-align: center;
  color: yellow;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
}

#Règles{
  text-align: center;
  color: yellow;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#contact{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: yellow;
}

#gameplay{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: yellow;
}

#btn_jeu{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: black;
}




/* section 'description' et 'gameplay' */
  #sec-1 {
    background-color: rgb(63, 63, 63);
  }

  #sec-3 {
    text-align: center;
    background-color: rgb(63, 63, 63);
  }

  
/*header avec image krunker */
  header {
    background-image: url('https://zupimages.net/up/22/46/3gdh.png');
    width: 100%;
    background-repeat: repeat;
    background-position:center;
    background-size: auto;
    text-align: center;
  }



/*vidéo youtube */
.video-responsive{
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 20%;
  top: 0;
  height: 60%;
  width: 60%;
  position: absolute;
}



/*textes 'description' et règles et modes de jeu' */
p{
  text-indent: 5%;
  font-family: 'Oswald', cursive;
  text-align: justify;
}



body {
    font-size: large;
}


/*scrollbar */
body::-webkit-scrollbar {
  width: 1em;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 56.5px black;
  
}
 
body::-webkit-scrollbar-thumb {
  background-color: rgb(255, 175, 28);
  border-radius: 10px;
  outline: 1px solid rgb(255, 175, 28);
}



/* Bouton retour en haut */
.btn2 {
  scroll-behavior: smooth;
  height: 46px;
  width: 46px;
  border-radius: 50%;
  display: flex;
  background: rgb(255, 175, 28);
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 20px;
  bottom: 20px;
  cursor: pointer;
}

.icone {
  width: 50px;
}



/* footer */

.btn_github{
  position: relative;
  top: auto;
  right: auto;
}

.btn_linkedin{
  position: relative;
  top: auto;
  right: auto;
}


#linkedin{
  flex-direction: column ;
}

#krunker {
  size-adjust: auto;
}

#github{
  size-adjust: auto;
flex-direction: column-reverse;}


/*carousel*/
#carouselExampleIndicators{
  width: 50%;
}