.navbar a:hover {
    background-color: rgb(121, 240, 42); /* couleur bouttons quand souris passe dessus */
    color: black; /* couleur du texte quand souris passe dessus*/ 
  }

  #section_further_down{
  text-align: center;
  height: 100px;  
  }

  #section_further_down2{
  text-align: center;
  height: 100px;  
  }

  #section_further_down3{
    text-align: center;
    height: 100px;  
    }
    
#description{
  text-align: center;
}



  #sec-1 {
    background-color: rgb(63, 63, 63);
  }


  #sec-2 {
    text-align: center;
    background-color: rgb(63, 63, 63);
  }
  #sec-3 {
    background-color: rgb(63, 63, 63);
  }

  

  header {
    background-image: url('https://zupimages.net/up/22/46/3gdh.png');
    width: 100%;
    background-repeat: repeat;
    background-position:center;
    background-size: auto;
    text-align: center;
  }


.video-responsive{
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 20%;
  top: 0;
  height: 60%;
  width: 60%;
  position: absolute;
}

p{
  text-indent: 5%;
  text-align: justify;
}

body {
    font-size: large;
}

body::-webkit-scrollbar {
  width: 1em;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 56.5px black;
  
}
 
body::-webkit-scrollbar-thumb {
  background-color: rgb(255, 175, 28);
  border-radius: 10px;
  outline: 1px solid rgb(255, 175, 28);
}

.btn2 {
  height: 46px;
  width: 46px;
  border-radius: 50%;
  display: flex;
  background: rgb(255, 175, 28);
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 20px;
  bottom: 20px;
  cursor: pointer;
}

.icone {
  width: 50px;
}


#linkedin{
  text-align: center;
}

#krunker {
  text-align: center;
}

#github{
  text-align: center;
}